[build]
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server"
  status = 200
  force = true

[[redirects]]
  from = "/reload"
  to = "/reload"
  status = 204
  force = true

# For SPA routing
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
